/* 共用區塊 ========================================= */
/* a連結 */
a {
  color: #00557f;
}
/*新增下底線*/
span.underline {
  text-decoration: underline;
}
/* 修改 Select2 容器的高度 */
.select2-container .select2-selection--single {
  height: 40px !important;
  line-height: 40px !important;
}

/* 修改 Select2 高度 */
.select2-container--default .select2-selection--single {
  padding: 5px 10px !important;
}

/* 修改 Select2 高度 */
.select2-dropdown .select2-results__option {
  padding: 10px !important;
}

/* 內容頁區塊 ========================================= */
body {
  background-color: #f4f8fb;
}

/*版頭結構*/
.header-logo {
  width: 150px;
  height: auto;
  object-fit: contain;
}

/* 設置圖片大小 */
.header-logo img {
  width: 100%;
  height: auto;
  object-fit: contain; 
}

/*414px*/
@media only screen and (max-width:414px){
  .header-logo {
    width: 100px;
  }
}  

.user-info {
  white-space: nowrap;
  font-size: 1rem;
  color: #555;
}

.user-info i {
  margin-right: 0.25rem;
}

button.btn btn-sm{
  background-color: #00557f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}



.main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  -webkit-transition: margin-left 0.25s;
  transition: margin-left 0.25s;
}

.main.collapsed {
  margin-left: 0;
  width: 100%;
}

/*content 內容區 =================*/
.content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s;
}

h3 {
  color: #00557f;
}

/*aside sidebar 側欄 =================*/
aside.sidebar {
  width: 280px;
  height: 100%;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 68px;
  z-index: 10;
  transition: width 0.3s, left 0.3s;
  box-shadow: 0 0 5px rgba(51, 153, 204, 0.3);
}

/*按鈕樣式*/
.btn_toggle {
  position: absolute;
  top: 68px;
  right: -30px;
  background-color: #00557f;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 1001;
}

aside.sidebar-title {
  margin-top: 20px;
}

/* 收縮後的寬度 */
aside.sidebar.collapsed {
  left: -280px;
}
/*麵包屑*/
li.breadcrumb-item.active a {
  font-weight: 900;
}
/* 報價清單表格 */
th,
td {
  text-align: center;
  border-right: 1px solid #c7c7c7;
}

/* 簡易快遞查詢 */
.area.search {
  color: #00557f;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/*日期css*/
.table-condensed td,
.table-condensed th {
  padding: 8px;
}


/* 簡易快遞查詢區塊 ========================================= */
.form-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 30px;
}

/*選取時樣式*/
.form-control:focus,
select.form-control:focus {
  outline: none;
  border-color: #3399cc;
  box-shadow: 0 0 5px rgba(51, 153, 204, 0.3);
}

/*大區塊*/
.form-row {
  display: flex;
  flex-wrap: wrap;
}

/*組*/
.form-group {
  display: flex;
  align-items: center;
  width: 47%;
  margin-right: 20px; 
  box-sizing: border-box;
}

/*標題*/
.form-label {
  flex: 0 0 150px;
  color: #00557f;
  background-color: #d9edf7;
  padding: 15px;
  margin-bottom: 0rem; 
  margin-right: 10px;
  font-weight: bold;
  text-align: right;
  box-sizing: border-box;
}


/*輸入框*/
.form-control {
  flex: 1;
  max-width: 300px;
  min-width: 0;
  /* 防止溢出 */
  padding: 8px;
  box-sizing: border-box;
}

/*報單後五碼*/
.form-group.horizontal-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/*輸入框圓角*/
input {
  border-radius: 8px;
}

/*日期排版*/
.input-range {
  display: flex;
  align-items: center;
  gap: 5px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 10px;
}

.input-group.date i {
  color: #3399cc;
  font-size: 1.2em;
}


/*報單後五碼 文件編號*/
.input-range input {
  padding: 10px;
}

/*~符號*/
.separator {
  margin: 0 5px;
}

/*表單滿版*/
.form-group.full-width {
  width: 100%;
}

.form-control,
select.form-control {
  flex: 0 1 200px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input.form-control {
  flex-grow: 1;
  flex-basis: 180px;
}

/*客製化欄位 買方賣方*/
.input-group.info {
  display: flex;
  align-items: center;
  width: 100%;
}

.form-control.info {
  flex-grow: 2;
  max-width: 400px;
  box-sizing: border-box;
}

/* Buttons */
.buttons {
  margin-top: 20px;
  text-align: center;
}

.buttons button {
  padding: 10px 25px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #3399cc;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #287ca8;
}

/*900px*/
@media only screen and (max-width: 900px) {
  .form-row {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }

  .form-control {
    width: 100%;
  }

  .form-row:nth-last-child(-n + 5) .form-label {
    width: 100px;
  }
}

/*768px*/
@media only screen and (max-width: 768px) {
  .form-row:nth-of-type(n-3) .form-label {
    width: 120px;
  }

  .input-group.date i {
    display: none;
  }
}

/*414px*/
@media only screen and (max-width: 414px) {
  .form-label{ flex: 0 0 100px;}
}


/*報單清單 =========================================*/

.table-responsive {
  border-radius: 10px;
}

/*第一欄修改配色*/
.table tr:first-child th {
  color: #ffffff;
  background-color: #287ca8;
}
/* 設置雙數欄位的背景色 */
.table tr:nth-child(even) {
  background-color: rgba(217, 237, 247, 0.3); 
}

/*table td 取消重疊線*/
.table td:last-child{
  border-right:none; 
}

/*card-footer 取消重疊線*/
.card-footer{border-top: none;}

/*分頁列表 =========================================*/
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  overflow-x: auto; 
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
/*按鈕*/
.pagination-container button {
  background-color: #3399cc;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.pagination-container button:hover {
  background-color: #287ca8;
} 

.pagination-container select {
  width: auto;
  display: inline-block;
}

.pagination-container span {
  white-space: nowrap;
}
/*768px*/
@media only screen and (max-width:768px){
  .pagination-container button{display: none;}
}

/*收合按鈕*/
.toggle-content {
  display: block; /* 預設展開 */
}

.toggle-button {
  text-align: center;
  margin: 20px 0;
}

.toggle-button button {
  background-color: #287ca8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.toggle-button button:hover {
  background-color: #287ca8;
}

.toggle-button button i {
  margin-left: 8px;
  transition: transform 0.3s;
}

.toggle-button button.collapsed i {
  transform: rotate(180deg);
}
